.box{
    width:500px;
    height:500px;
    border: 1px solid rgb(254, 250, 250);
    margin:auto;
    margin-top:2%;
    background-color: rgba(19, 19, 19, 0.3);
    border-radius: 10%;
    position: relative;
}
body{
    height: 100%;
    background-image: url("./signup3.jpg");
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;    
}
.tex{
    margin-top: 11%;
    font-weight: bold;
    font-size: 20px;
    color: rgb(243, 247, 248);
}
.id1{
    margin-right:20%;
}
.id2{
    margin-right: -19%;
}
h3{
    margin-top: -7%;
    margin-left: 37%;
    position:absolute;
}
.name{
    width:500px;
    margin-left: 5% ;
    display: flex;
    justify-content: space-evenly;
}
.Age{
    width:920px;
    margin-left: -24.5% ;
    display: flex;
    justify-content: space-evenly;
    position:relative
}
.boxs{
    width:720px;
    margin-top: 4%;
    margin-left:-12.5%;
    display: flex;
    justify-content: space-evenly;
}
input{
    border: none; 
    border: 1px solid rgb(23, 24, 24); 
    border-radius: 8px;
}
.date{
    width:660px;
    margin-left:-18%;
    display: flex;
    justify-content: space-evenly;
}
h3{
    color: aqua;
}
.mail{
    margin-left: 1%;
}
.reg{
    border-radius: 8px;
    background-color: rgb(123, 244, 9);
    margin-left:25%;
}
#message{
    margin-left: 40%;
    font-size: 15px;
}